<footer class="flex flex-row flex-wrap footer ">
    <div class=" flex flex-column  logo ">
        <img class="galoa-logo" src="./assets/img/galoa-logo.svg" alt="galoa logo">
        <a href="/" class="galoa-btn my-sm" target="_blank">Saiba mais</a>
    </div>
    <p class="text-left  align-items-center footer-texto">Preservar a memória da conferência e aumentar o alcance do
        conhecimento científico é a razão pela qual o Processo de Galoá foi criado.
        <br> Os trabalhos da conferência publicados aqui são de acesso aberto e nossa indexação mantém os trabalhos
        apresentado na conferência fácil de encontrar e citar.</p>
</footer>