<div class="mobile side-menu">
    <div><p class="retangle p-4 "><a href="/">SLACA 2019</a></p></div>
    <img src="assets/img/scala_logo.png" alt="logo scala">

    <ul class="menu p-4">
        <li ><a href="/" class="p-3">Apresentação</a></li>
        <li><a href="/" class="p-3">Comitês</a></li>
        <li><a href="/" class="p-3">Autores</a></li>
        <li><a href="/" class="p-3">Eixos temáticos</a></li>
        <li><a href="/" class="p-3">Trabalhos</a></li>
        <li><a href="/" class="p-3">Contato</a></li>
    </ul>
</div>




